/* Import My Font */

/* End My Font */

/* Global */
.bg-blue {
    background-color: #2191c5;
    color: white;
}
.title-utilities {
    text-align: center;
    color: #2191c5;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/* End Global */

/* Style Block Home */
    /* Style Menu Home */
    /* Style devices phone */
    .menu-home {
        width: 100%;
    }
    .menu-home a {
        color: #f79263;
    }
    .menu-home i {
        color: #f79263;
    }
    .menu-home ul {
        width: 100%;
    }
    .menu-home ul li.active {
        border-bottom: 0.03125rem solid #f79263;
    }
    .menu-home ul li {
        margin-right: 0.9rem;
    }
    .menu-home a:hover {
        color:white;
    }
    .menu-home ul li.active a {
        color: white;
    }

    /* Style devices 768px to up */
    @media (min-width: 768px) and (max-width: 812px) {
    .menu-home ul li {
        margin-right: 0;
    }
    }
    /* End Style Menu Home */
/* End Style Block Home */

/* Style Block Home One */
    /* Style devices phone */
    .block-home-one .main-title {
        text-align: center;
        color: #2191c5;
        padding-top: 2rem; 
        padding-bottom: 2rem;
    }
    .block-home-one .icon-one {
        text-align: center;
    }
    .block-home-one p {
        text-align: center;
        color: #f79263;
        margin-top: 0.3rem;
    }
    .block-home-one .col-md-6 {
        padding-bottom: 1.5rem;
    }
    .block-home-one .bg-blue {
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .block-home-one .bg-blue p.btn {
        color: white;
        border-color: white;
    }
    .block-home-one .bg-blue p.btn:hover {
        background-color: #f79263;
    }
    .block-home-one .active-product {
        border: 0.1rem solid #2191c5;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 2rem;
        text-align: center;
        color: #f79263;
    }
    .block-home-one .active-product a.btn {
        background-color: #2191c5;
        border-color: #2191c5;
        margin-top: 0.5rem;
    }
    .block-home-one .active-product a.btn:hover {
        background-color: #f79263;
    }

    /* Style devices 768px to up */
    @media (min-width: 768px) {
    .block-home-one p {
        margin-top: 0.5rem;
    }
    }
/* End Block Home One */

/* Style Block Home Two */
    /* Style devices phone */
    .block-home-two .home-utilities {
        text-align: justify;
        padding-top: 8rem;
        margin-bottom: 2rem;
    }
    .block-home-two .home-utilities h5 {
        text-align: center;
    }
    .block-home-two .utilities-1 {
        background: url(../img/good1.png) no-repeat scroll center top transparent;
    }
    .block-home-two .utilities-2 {
        background: url(../img/good3.png) no-repeat scroll center top transparent;
    }
    .block-home-two .utilities-3 {
        background: url(../img/good5.png) no-repeat scroll center top transparent;
    }
    .block-home-two .utilities-4 {
        background: url(../img/good2.png) no-repeat scroll center top transparent;
    }
    .block-home-two .utilities-5 {
        background: url(../img/good4.png) no-repeat scroll center top transparent;
    }
    .block-home-two .utilities-6 {
        background: url(../img/good7.png) no-repeat scroll center top transparent;
    }
    
    /* Style devices 768px to up */
    @media (min-width: 768px) {
    .block-home-two .home-utilities {
        padding-left: 8rem;
        padding-top: 0;
    }
    .block-home-two .home-utilities h5 {
        text-align: justify;
    }
    .block-home-two .utilities-1 {
        background: url(../img/good1.png) no-repeat scroll left top transparent;
    }
    .block-home-two .utilities-2 {
        background: url(../img/good3.png) no-repeat scroll left top transparent;
    }
    .block-home-two .utilities-3 {
        background: url(../img/good5.png) no-repeat scroll left top transparent;
    }
    .block-home-two .utilities-4 {
        background: url(../img/good2.png) no-repeat scroll left top transparent;
    }
    .block-home-two .utilities-5 {
        background: url(../img/good4.png) no-repeat scroll left top transparent;
    }
    .block-home-two .utilities-6 {
        background: url(../img/good7.png) no-repeat scroll left top transparent;
    }
    }
/* End Block Home Two */



