/* Import My Font */
@import url("myfont.css");
.block-home, .block-why-ip, .block-wirless, .block-secure, .block-secure, .block-slide, .block-video, .block-footer {
    font-family: "ralewaysemibold",Arial, Helvetica, sans-serif;
}
/* End My Font */

/* Global */
.bg-blue {
    background-color: #090b1e;
    color: white;
}
.bg-white {
    background-color: white;
}
h3 {
    font-size: 2.25rem;
    text-align: center;
}
/* Change Color Placeholder Input */
::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
    opacity: 1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
/* Style devices 768px to up */
@media (min-width: 768px) {
    .box-left {
        padding-left: 1.875rem;
    }
    .box-right {
        padding-right: 1.875rem;
    }
}
/* End Global */

/* Style Block Home */
    /* Style Menu Home */
    /* Style devices phone */
    .menu-home {
        width: 100%;
    }
    .menu-home i {
        color: white;
    }
    .menu-home ul {
        width: 100%;
    }
    .menu-home ul li.active {
        border-bottom: 0.03125rem solid white;
    }
    .menu-home ul li {
        margin-right: 0.9rem;
    }
    .menu-home a {
        color: #b7b7ba;
    }
    .menu-home a:hover {
        color:white;
    }
    .menu-home ul li.active a {
        color: white;
    }

    /* Style devices 768px to up */
    @media (min-width: 768px) {
    .menu-home .navbar-brand {
        padding-top: 2.5rem;
        padding-left: 0.875rem;
    }
    .menu-home ul {
        padding-top: 3.4375rem;
        padding-right: 1.6875rem;
    }
    .menu-home ul li.no-active:hover {
        background-image: url(../img/border-menu.png);
        background-repeat: no-repeat;
    }
    .menu-home ul li {
        padding-right: 0.9375rem;
        padding-left: 0.9375rem;
    }
    }

    /* Style devices 1024px to up */
    @media (min-width: 1024px) {
    .menu-home ul li {
        margin-right: 2.5rem;
    }
    .menu-home ul li:last-child {
        margin-right: 0rem;
        margin-left: 1.25rem;
    }
    }
    /* End Style Menu Home */

    /* Style Content Home */
    /* Style devices phone */
    .part-left-home {
        padding-top: 1.5rem;
    }
    .part-left-home h4 {
        margin-top: 1.25rem;
        letter-spacing: 0.1rem;
        margin-bottom: 3.125rem;
    }        
    .part-left-home p.p-first {
        margin-top: 1.5rem;
    }
    .part-left-home button {
        margin-top: 3.125rem;
        background: url(../img/bg-button1.png);
        background-repeat: repeat-y;
        color: white;
    }
    .part-right-home {
        padding-top: 2rem;
        padding-bottom: 3.75rem;
    }

    /* Style devices 768px to up */
    @media (min-width: 768px) {
    .part-right-home {
        padding-top: 9.0625rem;
        padding-bottom: 5.625rem;
    } 
    .part-left-home {
        padding-top: 10rem;
    }
    .part-left-home h4 {
        letter-spacing: 0.19rem;
    } 
    }

    /* Style only devices 1024px */
    @media (min-width: 1024px) and (max-width: 1024px) {
    .part-left-home {
        padding-top: 13.75rem !important;
    }
    }

    /* Style devices 1024px to up */
    @media (min-width: 1024px) {
    .part-right-home {
        padding-right: 1.875rem;
    }
    .part-left-home {
        padding-top: 17.25rem;
    }
    .part-left-home h4 {
        letter-spacing: 0.47rem;
    }
    }
    /* End Style Content Home */
/* End Style Block Home */

/* Style Block Why Iphone */
/* Style devices phone */
.block-why-ip .col-lg-6 {
    display: none;
}
.block-why-ip h3 {
    margin-top: 0.9375rem;
    margin-bottom: 0.625rem;
}
.box-info p {
    font-size: 1rem;
    text-align: justify;
}
.box-info h5 {
    font-size: 1.5rem;
}

/* Style devices 768px to up */
@media (min-width: 768px) {
.block-why-ip {
    padding-bottom: 1.875rem;
}
.block-why-ip .col-lg-3 {
    padding: 0;
}
.block-why-ip .box-info {
    border: 0.03125rem solid grey;
    margin: 0.03125rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.box-info h5 {
    text-align: center;
}
.box-info p {
    font-size: 0.875rem;
}
}

/* Style devices 1024px to up */
@media (min-width: 1024px) {
.block-why-ip {
    padding-bottom: 6.25rem;
}
.block-why-ip h3 {
    margin-bottom: 5.625rem;
    margin-top: 6.25rem;
}
.block-why-ip .col-lg-6 {
    display: block;
}
.block-why-ip .box-info {
    border: none;
    margin: initial;
}
.block-why-ip .box-info h5 {
    font-size: 1.3125rem;
}
.box-info.left-title-info h5 {
    text-align: right;
}
.box-info.left-title-info p {
    text-align: right;
}
.box-info.right-title-info h5 {
    text-align: left;
}
.box-info.right-title-info p {
    text-align: left;
}
}

/* Style devices 1366px to up */
@media (min-width: 1366px) {
.block-why-ip .col-lg-3 {
    padding-top: 3.125rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: initial;
}
.block-why-ip .box-info h5 {
    margin-bottom: 1.875rem;
    margin-top: 0.625rem;
}
.block-why-ip .box-info.right-title-info:last-child h5 {
    margin-top: 0.875rem;
}
}
/* End Style Block Why Iphone */

/* Style Block Wirless */
/* Style devices phone */
.block-wirless
{
    padding-bottom: 1.875rem;
    padding-top: 1.875rem;
}
.block-wirless .col-md-6
{
     overflow: hidden;
}
.block-wirless img
{
    margin-left: 3.125rem;
}
/* Style devices 768px to up */
@media (min-width: 768px) {
.block-wirless .box-info {
    border: none;
} 
.block-wirless img {
    margin-left: 0;
    margin-top: 5.9375rem;
}
}

/* Style devices 1024px to up */
@media (min-width: 1024px) {
.block-wirless h3 {
    margin-top: 4.6875rem;
}
.block-wirless img {
    margin-top: 1.5625rem;
}
}

/* Style devices 1366px to up */
@media (min-width: 1366px) {
.block-wirless h3 {
    margin-bottom: 3.4375rem;
}
.block-wirless img {
    margin: initial;
}
.block-wirless .box-info p {
    text-align: left;
}
}
/* End Style Block Wirless */

/* Style Block Secure */
/* Style devices phone */
.block-secure .box-left {
    text-align: center;
}
.block-secure img {
    width: 11.875rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Style devices 768px to up */
@media (min-width: 768px) {
.block-secure .box-right {
    padding-top: 2.5rem;
}
.block-secure img {
    width: 14.6875rem;
}
.block-secure h3 {
    text-align: left;
}
}

/* Style devices 1024px to up */
@media (min-width: 1024px) {
.block-secure h3 {
    margin-bottom: 3.125rem;
}
.block-secure img {
    width: 21.875rem;
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.block-secure .box-right {
    padding-top: 16.875rem;
}
}
/* End Style Block Secure */

/* Style Block Slide */
/* Style devices phone */
.block-slide .card-deck {
    padding: 1.5625rem;
}
.block-slide .card {
    box-shadow: 0px 10px 30px #b7b7ba;
    border-color: white;
    display: none;
}
.block-slide .show-slider {
    display: initial;
}
.block-slide img {
    height: 3.125rem;
    margin-top: 0.75rem;
}
.block-slide h5 {
    margin-bottom: 0;
    margin-top: 0.3125rem;
}
.block-slide p {
    text-align: center;
}
.block-slide .button-holder {
    position: relative;
    text-align: center;
}
.block-slide .slider-change {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #989898;
}
.block-slide .slider-change.button-active {
    background-color: #855aa4;
}

/* Style devices 768px to up */
@media (min-width: 768px) {
.block-slide .button-holder {
    padding-bottom: 1.875rem;
}
}
/* End Style Block Slide */

/* Style Block Video Intro */
/* Style devices phone */
.block-video {
    position: relative;
    min-height: 15.625rem;
}
.block-video .screen-ip {
    display: none;
}
.block-video .media-play {
    position: absolute;
    border: none;
    z-index: 1;
    width: 100%;
    height: 15.625rem;
    padding: 0.9375rem;
}

/* Style devices 768px to up */
@media (min-width: 768px) {
.block-video {
    background-image: url(../img/bg-video.png);
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 25rem;
}
.block-video .screen-ip {
    display: block;
    position: absolute;
    height: 15.625rem;
    top: 20%;
    left: 15%;
}
.block-video .media-play {
    width: 55%;
    height: 13.75rem;
    top: 24%;
    left: 22%;
    padding: 0;
} 
}

/* Style devices 998px to up */
@media (min-width: 998px) {
.block-video .screen-ip {
    left: 25%;
}
.block-video .media-play {
    width: 40%;
    left: 31%;
} 
}

/* Style devices 1024px to up */
@media (min-width: 1024px) {
.block-video {
    min-height: 31.25rem;
}
.block-video .screen-ip {
    height: 21.875rem;
    top: 16%;
    left: 15%;
}
.block-video .media-play {
    width: 55%;
    height: 19.375rem;
    top: 20%;
    left: 24%;
} 
}

/* Style devices 1180px to up */
@media (min-width: 1180px) {
.block-video .media-play {
    width: 48%;
    left: 22%;
} 
}

/* Style devices 1345px to up */
@media (min-width: 1345px) {
.block-video .screen-ip {
    left: 20%;
}
.block-video .media-play {
    left: 27%;
} 
}

/* Style devices 1366px to up */
@media (min-width: 1366px) {
.block-video .screen-ip {
    height: 25rem;
    top: 10%;
    left: 15%;
}
.block-video .media-play {
    width: 40.625rem;
    height: 21.875rem;
    top: 15%;
    left: 22%;
}    
}
/* End Style Block Video Intro */

/* Style Block Product */
/* Style devices phone */
.block-product .col-md-6 {
    text-align: center;
}
.block-product h3 {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
}
.block-product img {
    max-width: 70%;
    margin-bottom: 1.875rem;
}
.block-product .vs-product {
    color: #ff002e;
}
.block-product .price-product {
    color: #0035a3;
}
/* End Style Block Product */

/* Style Block Shop */
/* Style devices phone */
.block-shop h3 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}
.block-shop .col-md-3 {
    text-align: center;
}
.block-shop img {
    max-width: 50%;
    margin-bottom: 3.125rem;
}
.block-shop img#shopify {
    margin-top: -0.5rem
}
/* End Style Block Shop */

/* Style Footer */
/* Style devices phone */
.block-footer h3 {
    margin-top: 1.5rem;
}
.block-footer form {
    margin-top: 1.5rem;
}
.block-footer p {
    font-size: 0.9rem;
    margin-bottom: 0;
}
.block-connect .form-group {
    position: relative;
    width: 100%;
    background: url(../img/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .25rem;
}
.block-connect input {
    display: inline-block;
    width: 65%;
    background: inherit;
    position: relative;
    top: 0;
    left: 0;
    border: none;
}
.block-connect span {
    width: 35%;
    padding: 6px 0px 6px 0px;
    background-color: #fe088c;
    border-radius: .25rem;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    color: white;
}
.block-soical {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.box-contact span {
    padding-right: 3px;
}
.box-network {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.box-end {
    padding-top: 1rem;
    color: #efeff0;
}
.box-end .copy-right {
    font-size: 0.8rem;
}
.box-end a {
    margin-right: 5px;
    color: #efeff0;
}

/* Style devices 375px to up */
@media (min-width: 375px) {
.box-end .copy-right {
    font-size: initial;
} 
}

/* Style devices 768px to up */
@media (min-width: 768px) {
.block-footer p {
    font-size: initial;
}
.block-connect .form-group {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.box-network {
    text-align: right;
    padding-top: 0.2rem;
}
.box-end a {
    margin-left: 2rem;
}
}

/* Style devices 1024px to up */
@media (min-width: 1024px) {
.block-connect .form-group {
    width: 45%;
}
}

/* Style devices 1366px to up */
@media (min-width: 1366px) {
.block-connect .form-group {
    width: 40%;
}
}
/* End Style Footer */








          
            
            
    