#wrapper
{
    width: 1280px;
    margin: auto;
}

.banner img
{
    width: 1280px;
}

#main-menu
{
    text-align: center;
    padding: 20px;
}

#main-menu a
{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.content-title
{
    text-align: center;
}

.child-img
{
    width: 20%;
    float: left;
    height: 150px;
}

.child-img:hover
{
    
}

.line
{
    border: 1px solid gray;
    width: 50%;
    margin: auto;
}